declare -A controllers

# kubeadm only supports one controller at the moment
controllers["controller-0"]="10.10.10.10"

declare -A instances

instances["instance-0"]="10.10.10.20"
instances["instance-1"]="10.10.10.21"
instances["instance-2"]="10.10.10.22"
instances["instance-3"]="10.10.10.23"
